html {
    font-family: Helvetica;
    background: linear-gradient( red, yellow);
    background-attachment: fixed;
    height: 100%;
}

h1 {
    margin: 50px auto;
    text-align: center;
    width: 600px;
    color: beige;
    font-size: 3em;
}

table {
    border-collapse: collapse;
    margin: 0 auto 20px auto;
    width: 600px;
    height: 600px;
    border: 2px solid black;
    font-size: 30px;
    color: red;
}

td {
    text-align: center;
    height: 200px;
    width: 200px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#r2c2 {
    border: 2px solid black;
}

#r1c2, #r3c2 {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#r2c1, #r2c3 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#r1c1, #r1c3, #r2c2, #r3c1, #r3c3 {
    background-color: beige;
}

#r1c2, #r2c1, #r2c3, #r3c2 {
    background-color: white;
}

#info {
    height: 200px;
    width: 600px;
    margin: 0px auto;
    background-color: lightblue;
    border: 2px solid black;
    position: relative;
}

#instructions {
    text-align: center;
    font-size: 2em;
    padding: 4px;
}

@media screen and (min-width: 1024px) {
    
    #section1 {
        width: 70%;
        float: right;
    }
    
    #section2 {
        width: 30%;
        float: right;
    }
    
    #info {
        width: 300px;
        height: 606px;
        
    }
    
    table {
    }
}