html {
    font-family: "Helvetica", sans-serif;
    background: linear-gradient( red, yellow);
    background-attachment: fixed;
    height: 100%;
}

h1 {
    margin: 50px auto;
    text-align: center;
    width: 600px;
    color: beige;
    font-size: 2.5em;
    text-shadow: 2px 2px #262626;
}

table {
    border-collapse: collapse;
    margin: 0 auto 20px auto;
    box-sizing: border-box;
    width: 600px;
    height: 600px;
    border: 2px solid black;
    font-size: 30px;
    box-shadow: 1px 1px 3px 2px #262626;
}

td {
    text-align: center;
    height: 200px;
    width: 200px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 4em;
    color: black;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #e62e00;
}

#r2c2 {
    border: 2px solid black;
}

#r1c2, #r3c2 {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#r2c1, #r2c3 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#r1c1, #r1c3, #r2c2, #r3c1, #r3c3 {
    background-color: #ffffcc;
}

#r1c2, #r2c1, #r2c3, #r3c2 {
    background-color: #fff;
}

#info {
    height: 200px;
    width: 600px;
    box-sizing: border-box;
    margin: 0px auto;
    background-color: #ffffcc;
    border: 2px solid #262626;
    position: relative;
}

#instructions {
    text-align: center;
    color: #262626;
    font-size: 2em;
    padding: 4px;
    margin: 20px;
}

#buttons {
    text-align: center;
    float: left;
    width: 50%;
    margin: 0px;
    height: 104px;
}

.button {
    color: #e62e00;
    margin: 10px 20px;
    height: 40px;
    width: 80px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.button:active {
    color: #fff;
    background-color: #e62e00;
}

#scores {
    width: 300px;
    height: 100px;
    display: flex;
    float: left;
}

.scoreBox {
    width: 100px;
    height: 100px;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    border: 2px solid #262626;
    color: #e62e00;
    border-radius: 4px;
}

.score {
    font-size: 3em;
    margin: -10px auto;
}

@media screen and (min-width: 1024px) {
    
    #section1 {
        width: 60%;
        float: right;
    }
    
    #section2 {
        width: 40%;
        float: right;
    }
    
    #info {
        width: 300px;
        height: 606px;
    }
    
    table {
        float: left;
    }
    
    #instructions {
        width: 7em;
        height: 100px;
        margin: 30px auto 30px auto;
    }
    
    #buttons {
        width: 100%;
        margin: 0 0px 20px 0;
    }

}